<style>
    <!--.vertical-menu {-->
        <!--width: 200px;-->
    <!--}-->

    <!--.vertical-menu a {-->
        <!--background-color: #eee;-->
        <!--color: black;-->
        <!--display: block;-->
        <!--padding: 12px;-->
        <!--text-decoration: none;-->
    <!--}-->

    <!--.vertical-menu a:hover {-->
        <!--background-color: #ccc;-->
    <!--}-->

    <!--.vertical-menu a.active {-->
        <!--background-color: #4CAF50;-->
        <!--color: white;-->
    <!--}-->

    .thing {
        position: relative;
    }
    .thing2 {
        top: 0.5em;
    }

    .btn .glyphicon {
        margin-right: 8px;
    }

    .btn.btn-icon .glyphicon {
        margin-right: 0;
    }
</style>

<h3>Digital Display Garden </h3>

<div class="thing">
<button color="blue" style="height:30px;width:200px" aria-describedby="sizing-addon1">
    <div align="left">
        <!--<span class="glyphicon glyphicon-phone">-->
            AngelFace Pretty Pink
        <!--</span>-->
    </div>
</button>
<button class="thing2" style="height:30px;width:30px" aria-describedby="sizing-addon1">
    <span class="glyphicon glyphicon-thumbs-up"></span>&zwnj;
</button>
<button class="thing2" style="height:30px;width:30px" aria-describedby="sizing-addon1">
    <span class="glyphicon glyphicon-thumbs-down"></span>&zwnj;
</button>
</div>

